.modalElemento {
    width: calc(100% - 25px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: var(--gris-1);
}

.modalFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalInputGroup {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/*para menor de 800 column*/
@media (max-width: 800px) {
    .modalInputGroup {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        width: inherit;
    }
}

.modalLabel {
    width: 20%;
    margin-top: 2px;
    margin-bottom: 1px;
}

.modalInputGroup input,
.modalInputGroup textarea,
.modalInputGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.modalInputGroup textarea {
    form-sizing: content;
}

@media (max-width: 800px) {
    .modalInputGroup input,
    .modalInputGroup textarea,
    .modalInputGroup select {
        width: inherit;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: white;
    }

    .modalLabel {
        width: 100%;
    }

}

.modalInputGroup select {
    padding: 10px 0;
}

.imagenPreview {
    width: 20%;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 800px) {
    .imagenPreview {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
}

.imagenPreview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Chat */
.chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
}

.chatGlobos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 400px;  
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(250, 241, 198);
}

.globoContainerChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.globoChat {
    display: flex;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
}

.globoChatContestado {
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-right: 25%;
}

.globoChatEnviado {
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
    padding-left: 25%;
}

.globoMensaje div {
    padding: 10px;
}

.globoMensajeContestado {
    background-color: white;
    border-radius: 5px 5px 5px 0;
}

.globoMensajeEnviado {
    background-color: #8fde79;
    border-radius: 5px 5px 0 5px;
}

.globoFecha {
    font-size: 12px;
    color: #666;
}

.chatInputs{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.inptutChatsCheckContainer {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 10px;
}

.inptutChatsCheck {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.inptutChatsCheck input {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.chatEnviar {
    padding: 5px 10px;
    background-color: #0a4fff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chatEnviar:hover {
    background-color: #0a4fdd;
}

/*TIEMPOS*/
.tiemposContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.tituloTiempos {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tiempoFormGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.tiempoFormGroup input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.tiempoLabel {
    text-align: right;
    margin-right: 10px;
}

.tiempoBoton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0a4fff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.tiempoBoton:hover {
    background-color: #0a4fff;
    color: white;
}

.tiempoTotal {
    font-weight: bold;
}

.tiempoFormGroupConBoton{
    flex-direction: row;
    align-items: center;

}

.tiempoFormGroupConBoton .tiempoBoton{
    margin-left: 10px;
    margin-top: 0;
}

.tiempoFormGroupConBoton .tiempoLabel{
    display: none;
}

.selectFiltroContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.selectFiltro{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}